extends base
include mixins/video

block content 
    div#videoContainer(data-id=video._id)
        video(src="/" + video.fileUrl)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currentTime 00:00:00
                    span  / 
                    span#totalTime 00:00:00
            input(type="range",value = "0",min="0",step="1")#timeline.videoControls__timeline
            div.videoControls__volume
                span#mute
                    i.fas.fa-volume-up
                input(type="range",value = "0.5",min="0",max="1",step="0.1")#volume
            div
                span#fullscreen
                    i.fas.fa-expand
 
    div.video__data
        p.video__description=video.description
        small.vidoe__createAt=video.createAt
        small.video__owner Upload by 
            a(href=`/users/${video.owner.id}`)=video.owner.name

    if String(video.owner._id) ===String(loggedInUser._id)
        a(href=`${video.id}/edit`) 비디오 수정하기 &rarr;
        br
        a(href=`${video.id}/delete`) 삭제하기 &rarr;

    if loggedIn
        div.video__add-comments
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="댓글을 입력하세요")
                button 댓글 달기

    div.video__comments
        ul
            each comment in video.comments.reverse()
                li.video__comment.commentContainer(data-id=comment._id)
                    i.far.fa-comment-alt
                    span #{comment.text}
                    if String(comment.owner._id) ===String(loggedInUser._id)
                        span.deleteBtn ❌
    

block scripts 
    script(src="/assets/js/videoPlayer.js")
    if loggedIn
        script(src="/assets/js/commentSection.js")
